.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Estilo inicial: oculto y con escala menor */
.fadePrice-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Cuando la clase "showPrice" se activa */
.fadePrice-in.showPrice {
    opacity: 1;
    transform: translateY(0);
}